.header{
    min-width: 100%;
    background: #282c34;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
}

a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.header a[class='active']{
    color: red;
}