.pagination{
    min-width: 100%;
}
.pagination_box span{
    cursor: pointer;
    display: inline-block;
    background: dimgray;
    color: #172121;
    margin: 0 10px;
    border-radius: 50%;
    width: 22px;
    text-align: center;
}
.pagination_box .active{
    color: red;
}